* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshow {
    display: flex;
    align-items: center;
    /* Aggiunto per lo slider nav */
    position: relative;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 50px;
    cursor: pointer;
}
.prev:hover, .next:hover {
    transform: scale(1.2);
}

.images {
    width: 500px;
    height: calc(500px / 16 * 9);
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.images img.active {
    display: block;
}

/* Slider Navigation */

.slider-nav {
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.slider-nav .fa-circle {
    font-size: 8px;
    padding: 2px;
}



.slider-nav i.active {
    color: white;
}

.container-autoplay {
    width: 500px;
    height: 50px;

}

.icon-autoplay {
    display: flex;
    justify-content: center;

}

.icon-autoplay .fas {
    margin-top: 8px;
    font-size: 25px;
    color: black;
    padding: 5px;

}

.icon-autoplay .fas:hover {
    transform: scale(1.2);
}
